fastapi
uvicorn
streamlit
requests
pandas
python-multipart
chromadb
sentence-transformers
sqlalchemy
openpyxl
ollama
langchain
langchain-chroma
langchain-ollama
langchain-community
langchain-core
pydantic
pyyaml
python-dotenv
numpy
langgraph
langsmith
python-dotenv
